header {
    background: red;
    color: white;
}

main {
    background: white;
}

footer {
    background: red;
    color: white;
}

body {
    font-family: "Saira Condensed", sans-serif;
    color: black;
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.scrolling-text {
    white-space: nowrap;
    overflow: hidden;
    animation: scrollText 25s linear infinite;
}
